RewriteEngine On
RewriteBase /MVCPiePHP/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/MVCPiePHP/index.php$
#RewriteCond %{REQUEST_URI} !^/MVCPiePHP/( webroot/.+| index.php | robots.txt)$
#RewriteRule ^(.*)$ index.php [QSA,L]
