{% extends "quizz/header.html.twig" %}

{% block title %}Create a quizz!{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="form-group">
                <label for="quizzInput">Write Your quizz</label>
                <textarea  name="quizzInput" type="file" class="form-control" rows="16" id="quizzInput">{{ textarea }}</textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
        <form method="POST" action="/quizzSend" enctype="multipart/form-data">
            <div class="form-group">
                <label for="yamlInput">Import a .yaml file</label>
                <input name="yamlInput" type="file" class="form-control-file" id="yamlInput">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}