{% extends "quizz/header.html.twig" %}

{% block title %}Choose a quizz!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Welcome to My_Quizz Choose a categorie!</h1>
        <hr>
        {% for categorie in categories %}
            <a class="text-success text-decoration-none" href="{{ "/quizz/#{categorie.id}" }}">
                <p>{{ categorie.name }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
