{% extends "quizz/header.html.twig" %}

{% block title %}Quizz!{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ question.question }}</h2>
        <hr>
        <div class="progress">
            {% for result in count %}
                {% if result %}
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                {% else %}
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                {% endif %}
            {% endfor %}
        </div>
        <hr>
        {% for response in responses %}
            <a class="text-success text-decoration-none"
               href="{{ "/quizz/response/#{question.idCategorie}/#{number}/#{response.reponseExpected + 1}" }}">
                <h4>{{ response.reponse }}</h4>
            </a>
        {% endfor %}
    </div>
{% endblock %}