{% extends "quizz/header.html.twig" %}

{% block title %}Quizz!{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ "You've got #{result} corrects asnwers!" }}</h2>
    </div>
{% endblock %}