{% extends "admin/header.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% for quizz in score %}
                    <a href="/quizz/{{ quizz[1].id }}">
                        <h1 class="text-success text-decoration-none">{{ quizz[1].name }}</h1>
                    </a>
                    <div class="progress">
                        <div class="progress-bar  progress-bar-striped bg-info" role="progressbar" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{ quizz[0].score * 10 }}%">
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}