{% extends "admin/header.html.twig" %}

{% block title %}Admin panel{% endblock %}

{% block body %}

    <div class="container">
        <h1>Quizz Info</h1>
        {% for quizz in info %}
            <div>
                <a href="/admin/quizz/{{ quizz[0].id }}">
                    <h1 class="text-success text-decoration-none">{{ quizz[0].name }}</h1>
                </a>
                Times played: {{ quizz[1] }}
                Average score: {{ quizz[2] }}
            </div>
        {% endfor %}
    </div>
{% endblock %}